.company-x-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .company-x-page .div {
    background-color: #ffffff;
    height: 832px;
    overflow: hidden;
    position: relative;
    width: 1280px;
  }
  
  .company-x-page .overlap {
    background-color: #84838336;
    height: 162px;
    left: 0;
    position: absolute;
    top: 185px;
    width: 1280px;
  }
  
  .company-x-page .company-name {
    color: #000000;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 20px;
    left: 564px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
    width: 152px;
  }
  
  .company-x-page .rating-star {
    height: 23px;
    left: 1230px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .img {
    height: 23px;
    left: 1194px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .rating-star-2 {
    height: 23px;
    left: 1086px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .rating-star-3 {
    height: 23px;
    left: 1122px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .rating-star-4 {
    height: 23px;
    left: 1158px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .media {
    background-color: #d9d9d9;
    height: 177px;
    left: 976px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-2 {
    background-color: #d9d9d9;
    height: 177px;
    left: 672px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-3 {
    background-color: #d9d9d9;
    height: 177px;
    left: 379px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-4 {
    background-color: #d9d9d9;
    height: 177px;
    left: 79px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-5 {
    background-color: #d9d9d9;
    height: 177px;
    left: 972px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .media-6 {
    background-color: #d9d9d9;
    height: 177px;
    left: 672px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .media-7 {
    background-color: #d9d9d9;
    height: 177px;
    left: 379px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .media-8 {
    background-color: #d9d9d9;
    height: 177px;
    left: 79px;
    position: absolute;
    top: 444px;
    width: 225px;
  }

  .company-x-page .add-media-button {
    background-color: #d9d9d9;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    height: 35px;
    left: 40px;
    position: absolute;
    top: 365px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .add-media-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-media-form h2 {
    margin-bottom: 20px;
}

.add-media-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-media-form button {
    background-color: #d9d9d9;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    height: 35px;
    width: 140px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-media-form button:hover {
    background-color: #d9d9d9;
}

  
  .company-x-page .reviews {
    background-color: #d9d9d9;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    height: 35px;
    left: 1080px;
    position: absolute;
    top: 365px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .company-x-page .overlap-group-2 {
    font-family: "Open Sans-SemiBold", Helvetica;
    background-color: #848383;
    height: 105px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .company-x-page .log-in {
    font-family: "Open Sans-SemiBold", Helvetica;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 40px;
    height: 35px;
    left: 1000px;
    position: absolute;
    top: 53px;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .company-x-page .sign-up {
    font-family: "Open Sans-SemiBold", Helvetica;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    height: 35px;
    left: 1140px;
    position: absolute;
    top: 53px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .company-x-page .logo {
    height: 73px;
    left: 597px;
    position: absolute;
    top: 17px;
    width: 90px;
  }
  
  .company-x-page .overlap-2 {
    height: 28px;
    left: 35px;
    position: absolute;
    top: 48px;
    width: 137px;
  }
  
  .company-x-page .div-2 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 137px;
  }
  
  .company-x-page .overlap-3 {
    height: 28px;
    left: 256px;
    position: absolute;
    top: 48px;
    width: 137px;
  }
  
  .company-x-page .explore-button {
    font-family: "Open Sans-SemiBold", Helvetica;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    height: 35px;
    left: 40px;
    position: absolute;
    top: 53px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .company-x-page .categories-button {
    font-family: "Open Sans-SemiBold", Helvetica;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 40px;
    height: 35px;
    left: 240px;
    position: absolute;
    top: 53px;
    width: 140px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .company-x-page .overlap-4 {
    background-color: #dddddd;
    height: 80px;
    left: 0;
    position: absolute;
    top: 105px;
    width: 1280px;
  }
  
  .company-x-page .search-bar {
    height: 39px;
    left: 254px;
    position: absolute;
    top: 21px;
    width: 738px;
  }
  
  .company-x-page .overlap-5 {
    height: 30px;
    left: 1002px;
    position: absolute;
    top: 30px;
    width: 26px;
  }
  
  .company-x-page .seach-button {
    background-color: #ffffff;
    border-radius: 12.5px/10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  
  .company-x-page .search-button {
    height: 14px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 11px;
  }
  