:root {
  --badge-default-font-family: "Inter", Helvetica;
  --badge-default-font-size: 14px;
  --badge-default-font-style: normal;
  --badge-default-font-weight: 700;
  --badge-default-letter-spacing: 0px;
  --badge-default-line-height: 14px;
  --badge-large-font-family: "Inter", Helvetica;
  --badge-large-font-size: 16px;
  --badge-large-font-style: normal;
  --badge-large-font-weight: 700;
  --badge-large-letter-spacing: 0px;
  --badge-large-line-height: 16px;
  --badge-small-font-family: "Inter", Helvetica;
  --badge-small-font-size: 12px;
  --badge-small-font-style: normal;
  --badge-small-font-weight: 700;
  --badge-small-letter-spacing: 0px;
  --badge-small-line-height: 12px;
  --body-body-font-family: "Inter", Helvetica;
  --body-body-font-size: 16px;
  --body-body-font-style: normal;
  --body-body-font-weight: 400;
  --body-body-large-font-family: "Inter", Helvetica;
  --body-body-large-font-size: 16px;
  --body-body-large-font-style: normal;
  --body-body-large-font-weight: 400;
  --body-body-large-letter-spacing: 0.16px;
  --body-body-large-line-height: 24px;
  --body-body-large-link-font-family: "Inter", Helvetica;
  --body-body-large-link-font-size: 16px;
  --body-body-large-link-font-style: normal;
  --body-body-large-link-font-weight: 400;
  --body-body-large-link-letter-spacing: 0.16px;
  --body-body-large-link-line-height: 24px;
  --body-body-letter-spacing: 0.16px;
  --body-body-line-height: 24px;
  --body-body-link-font-family: "Inter", Helvetica;
  --body-body-link-font-size: 16px;
  --body-body-link-font-style: normal;
  --body-body-link-font-weight: 400;
  --body-body-link-letter-spacing: 0px;
  --body-body-link-line-height: 22px;
  --body-body-small-font-family: "Inter", Helvetica;
  --body-body-small-font-size: 14px;
  --body-body-small-font-style: normal;
  --body-body-small-font-weight: 400;
  --body-body-small-letter-spacing: 0px;
  --body-body-small-line-height: 24px;
  --body-body-small-link-font-family: "Inter", Helvetica;
  --body-body-small-link-font-size: 14px;
  --body-body-small-link-font-style: normal;
  --body-body-small-link-font-weight: 400;
  --body-body-small-link-letter-spacing: 0px;
  --body-body-small-link-line-height: 18px;
  --button-default-font-family: "Inter", Helvetica;
  --button-default-font-size: 16px;
  --button-default-font-style: normal;
  --button-default-font-weight: 700;
  --button-default-letter-spacing: 0px;
  --button-default-line-height: 24px;
  --button-large-font-family: "Inter", Helvetica;
  --button-large-font-size: 20px;
  --button-large-font-style: normal;
  --button-large-font-weight: 700;
  --button-large-letter-spacing: 0px;
  --button-large-line-height: 30px;
  --button-small-font-family: "Inter", Helvetica;
  --button-small-font-size: 14px;
  --button-small-font-style: normal;
  --button-small-font-weight: 700;
  --button-small-letter-spacing: 0px;
  --button-small-line-height: 21px;
  --colorsbackgrounddisabled: rgba(239, 240, 240, 1);
  --colorsbackgrounderror: rgba(245, 188, 188, 1);
  --colorsbackgroundinfo: rgba(184, 206, 249, 1);
  --colorsbackgroundprimary: rgba(255, 255, 255, 1);
  --colorsbackgroundquaternary: rgba(137, 148, 159, 1);
  --colorsbackgroundsecondary: rgba(250, 250, 250, 1);
  --colorsbackgroundsuccess: rgba(214, 245, 219, 1);
  --colorsbackgroundtertiary: rgba(239, 240, 240, 1);
  --colorsbackgroundwarning: rgba(245, 217, 188, 1);
  --colorsblack: rgba(0, 0, 0, 1);
  --colorsblue-10: rgba(230, 238, 254, 1);
  --colorsblue-100: rgba(0, 25, 77, 1);
  --colorsblue-20: rgba(184, 206, 249, 1);
  --colorsblue-40: rgba(125, 161, 232, 1);
  --colorsblue-60: rgba(64, 106, 191, 1);
  --colorsblue-80: rgba(4, 52, 149, 1);
  --colorsblue-90: rgba(0, 34, 102, 1);
  --colorsborderdisabled: rgba(239, 240, 240, 1);
  --colorsbordererror: rgba(149, 4, 4, 1);
  --colorsborderfocus: rgba(77, 0, 0, 1);
  --colorsborderpressed: rgba(0, 64, 77, 1);
  --colorsborderprimary: rgba(174, 179, 183, 1);
  --colorsbordersecondary: rgba(220, 222, 224, 1);
  --colorsbordertertiary: rgba(239, 240, 240, 1);
  --colorsbrandprimary-10: rgba(252, 233, 233, 1);
  --colorsbrandprimary-100: rgba(77, 0, 0, 1);
  --colorsbrandprimary-20: rgba(245, 188, 188, 1);
  --colorsbrandprimary-40: rgba(239, 143, 143, 1);
  --colorsbrandprimary-60: rgba(191, 64, 64, 1);
  --colorsbrandprimary-80: rgba(149, 4, 4, 1);
  --colorsbrandprimary-90: rgba(102, 0, 0, 1);
  --colorsbrandsecondary-10: rgba(230, 238, 254, 1);
  --colorsbrandsecondary-100: rgba(0, 25, 77, 1);
  --colorsbrandsecondary-20: rgba(184, 206, 249, 1);
  --colorsbrandsecondary-40: rgba(125, 161, 232, 1);
  --colorsbrandsecondary-60: rgba(64, 106, 191, 1);
  --colorsbrandsecondary-80: rgba(4, 52, 149, 1);
  --colorsbrandsecondary-90: rgba(0, 34, 102, 1);
  --colorsfontactive: rgba(77, 0, 0, 1);
  --colorsfontdisabled: rgba(92, 102, 112, 1);
  --colorsfonterror: rgba(102, 0, 0, 1);
  --colorsfontfocus: rgba(77, 0, 0, 1);
  --colorsfonthover: rgba(102, 0, 0, 1);
  --colorsfontinfo: rgba(0, 34, 102, 1);
  --colorsfontinteractive: rgba(149, 4, 4, 1);
  --colorsfontinverse: rgba(255, 255, 255, 1);
  --colorsfontprimary: rgba(13, 26, 38, 1);
  --colorsfontsecondary: rgba(48, 64, 80, 1);
  --colorsfontsuccess: rgba(54, 94, 61, 1);
  --colorsfonttertiary: rgba(92, 102, 112, 1);
  --colorsfontwarning: rgba(102, 51, 0, 1);
  --colorsgreen-10: rgba(235, 250, 237, 1);
  --colorsgreen-100: rgba(46, 72, 50, 1);
  --colorsgreen-20: rgba(214, 245, 219, 1);
  --colorsgreen-40: rgba(119, 202, 133, 1);
  --colorsgreen-60: rgba(67, 168, 84, 1);
  --colorsgreen-80: rgba(63, 125, 74, 1);
  --colorsgreen-90: rgba(54, 94, 61, 1);
  --colorsneutral-10: rgba(250, 250, 250, 1);
  --colorsneutral-100: rgba(13, 26, 38, 1);
  --colorsneutral-20: rgba(239, 240, 240, 1);
  --colorsneutral-40: rgba(220, 222, 224, 1);
  --colorsneutral-60: rgba(174, 179, 183, 1);
  --colorsneutral-80: rgba(92, 102, 112, 1);
  --colorsneutral-90: rgba(48, 64, 80, 1);
  --colorsorange-10: rgba(252, 242, 233, 1);
  --colorsorange-100: rgba(77, 38, 0, 1);
  --colorsorange-20: rgba(245, 217, 188, 1);
  --colorsorange-40: rgba(239, 191, 143, 1);
  --colorsorange-60: rgba(191, 128, 64, 1);
  --colorsorange-80: rgba(149, 76, 4, 1);
  --colorsorange-90: rgba(102, 51, 0, 1);
  --colorsoverlay-10: rgba(0, 0, 0, 0.1);
  --colorsoverlay-20: rgba(0, 0, 0, 0.2);
  --colorsoverlay-30: rgba(0, 0, 0, 0.3);
  --colorsoverlay-40: rgba(0, 0, 0, 0.4);
  --colorsoverlay-50: rgba(0, 0, 0, 0.5);
  --colorsoverlay-60: rgba(0, 0, 0, 0.6);
  --colorsoverlay-70: rgba(0, 0, 0, 0.7);
  --colorsoverlay-80: rgba(0, 0, 0, 0.8);
  --colorsoverlay-90: rgba(0, 0, 0, 0.9);
  --colorspink-10: rgba(254, 230, 238, 1);
  --colorspink-100: rgba(77, 0, 26, 1);
  --colorspink-20: rgba(251, 182, 205, 1);
  --colorspink-40: rgba(232, 125, 161, 1);
  --colorspink-60: rgba(191, 64, 106, 1);
  --colorspink-80: rgba(149, 4, 52, 1);
  --colorspink-90: rgba(102, 0, 34, 1);
  --colorspurple-10: rgba(254, 230, 254, 1);
  --colorspurple-100: rgba(77, 0, 77, 1);
  --colorspurple-20: rgba(249, 184, 249, 1);
  --colorspurple-40: rgba(232, 125, 232, 1);
  --colorspurple-60: rgba(191, 64, 191, 1);
  --colorspurple-80: rgba(149, 4, 149, 1);
  --colorspurple-90: rgba(102, 0, 102, 1);
  --colorsred-10: rgba(252, 233, 233, 1);
  --colorsred-100: rgba(77, 0, 0, 1);
  --colorsred-20: rgba(245, 188, 188, 1);
  --colorsred-40: rgba(239, 143, 143, 1);
  --colorsred-60: rgba(191, 64, 64, 1);
  --colorsred-80: rgba(149, 4, 4, 1);
  --colorsred-90: rgba(102, 0, 0, 1);
  --colorsshadowprimary: rgba(13, 26, 38, 0.25);
  --colorsshadowsecondary: rgba(13, 26, 38, 0.15);
  --colorsshadowtertiary: rgba(13, 26, 38, 0.05);
  --colorsteal-10: rgba(233, 249, 252, 1);
  --colorsteal-100: rgba(0, 64, 77, 1);
  --colorsteal-20: rgba(188, 236, 245, 1);
  --colorsteal-40: rgba(125, 214, 232, 1);
  --colorsteal-60: rgba(64, 170, 191, 1);
  --colorsteal-80: rgba(4, 125, 149, 1);
  --colorsteal-90: rgba(0, 85, 102, 1);
  --colorstransparent: rgba(0, 0, 0, 0);
  --colorswhite: rgba(255, 255, 255, 1);
  --colorsyellow-10: rgba(252, 252, 233, 1);
  --colorsyellow-100: rgba(77, 77, 0, 1);
  --colorsyellow-20: rgba(245, 245, 188, 1);
  --colorsyellow-40: rgba(239, 239, 143, 1);
  --colorsyellow-60: rgba(191, 191, 64, 1);
  --colorsyellow-80: rgba(149, 149, 4, 1);
  --colorsyellow-90: rgba(102, 102, 0, 1);
  --components-alert-heading-font-family: "Inter", Helvetica;
  --components-alert-heading-font-size: 16px;
  --components-alert-heading-font-style: normal;
  --components-alert-heading-font-weight: 700;
  --components-alert-heading-letter-spacing: 0px;
  --components-alert-heading-line-height: 150%;
  --components-badge-default-font-family: "Inter", Helvetica;
  --components-badge-default-font-size: 14px;
  --components-badge-default-font-style: normal;
  --components-badge-default-font-weight: 600;
  --components-badge-default-letter-spacing: 0px;
  --components-badge-default-line-height: 100%;
  --components-badge-large-font-family: "Inter", Helvetica;
  --components-badge-large-font-size: 16px;
  --components-badge-large-font-style: normal;
  --components-badge-large-font-weight: 600;
  --components-badge-large-letter-spacing: 0px;
  --components-badge-large-line-height: 100%;
  --components-badge-small-font-family: "Inter", Helvetica;
  --components-badge-small-font-size: 12px;
  --components-badge-small-font-style: normal;
  --components-badge-small-font-weight: 600;
  --components-badge-small-letter-spacing: 0px;
  --components-badge-small-line-height: 100%;
  --components-button-default-font-family: "Inter", Helvetica;
  --components-button-default-font-size: 16px;
  --components-button-default-font-style: normal;
  --components-button-default-font-weight: 700;
  --components-button-default-letter-spacing: 0px;
  --components-button-default-line-height: 150%;
  --components-button-large-font-family: "Inter", Helvetica;
  --components-button-large-font-size: 20px;
  --components-button-large-font-style: normal;
  --components-button-large-font-weight: 700;
  --components-button-large-letter-spacing: 0px;
  --components-button-large-line-height: 150%;
  --components-button-small-font-family: "Inter", Helvetica;
  --components-button-small-font-size: 14px;
  --components-button-small-font-style: normal;
  --components-button-small-font-weight: 700;
  --components-button-small-letter-spacing: 0px;
  --components-button-small-line-height: 150%;
  --components-copy-default-font-family: "Inter", Helvetica;
  --components-copy-default-font-size: 12px;
  --components-copy-default-font-style: normal;
  --components-copy-default-font-weight: 400;
  --components-copy-default-letter-spacing: 0px;
  --components-copy-default-line-height: 150%;
  --components-copy-tooltip-font-family: "Inter", Helvetica;
  --components-copy-tooltip-font-size: 8px;
  --components-copy-tooltip-font-style: normal;
  --components-copy-tooltip-font-weight: 400;
  --components-copy-tooltip-letter-spacing: 0px;
  --components-copy-tooltip-line-height: 150%;
  --components-divider-default-font-family: "Inter", Helvetica;
  --components-divider-default-font-size: 16px;
  --components-divider-default-font-style: normal;
  --components-divider-default-font-weight: 400;
  --components-divider-default-letter-spacing: 0px;
  --components-divider-default-line-height: 150%;
  --components-divider-label-font-family: "Inter", Helvetica;
  --components-divider-label-font-size: 14px;
  --components-divider-label-font-style: normal;
  --components-divider-label-font-weight: 400;
  --components-divider-label-letter-spacing: 0px;
  --components-divider-label-line-height: 150%;
  --components-divider-large-font-family: "Inter", Helvetica;
  --components-divider-large-font-size: 16px;
  --components-divider-large-font-style: normal;
  --components-divider-large-font-weight: 400;
  --components-divider-large-letter-spacing: 0px;
  --components-divider-large-line-height: 150%;
  --components-divider-small-font-family: "Inter", Helvetica;
  --components-divider-small-font-size: 16px;
  --components-divider-small-font-style: normal;
  --components-divider-small-font-weight: 400;
  --components-divider-small-letter-spacing: 0px;
  --components-divider-small-line-height: 150%;
  --components-field-default-font-family: "Inter", Helvetica;
  --components-field-default-font-size: 16px;
  --components-field-default-font-style: normal;
  --components-field-default-font-weight: 400;
  --components-field-default-letter-spacing: 0px;
  --components-field-default-line-height: 150%;
  --components-field-large-font-family: "Inter", Helvetica;
  --components-field-large-font-size: 20px;
  --components-field-large-font-style: normal;
  --components-field-large-font-weight: 400;
  --components-field-large-letter-spacing: 0px;
  --components-field-large-line-height: 150%;
  --components-field-small-font-family: "Inter", Helvetica;
  --components-field-small-font-size: 14px;
  --components-field-small-font-style: normal;
  --components-field-small-font-weight: 400;
  --components-field-small-letter-spacing: 0px;
  --components-field-small-line-height: 150%;
  --components-fieldcontrol-default-font-family: "Inter", Helvetica;
  --components-fieldcontrol-default-font-size: 16px;
  --components-fieldcontrol-default-font-style: normal;
  --components-fieldcontrol-default-font-weight: 400;
  --components-fieldcontrol-default-letter-spacing: 0px;
  --components-fieldcontrol-default-line-height: 150%;
  --components-fieldcontrol-large-font-family: "Inter", Helvetica;
  --components-fieldcontrol-large-font-size: 20px;
  --components-fieldcontrol-large-font-style: normal;
  --components-fieldcontrol-large-font-weight: 400;
  --components-fieldcontrol-large-letter-spacing: 0px;
  --components-fieldcontrol-large-line-height: 150%;
  --components-fieldcontrol-quiet: ;
  --components-fieldcontrol-small-font-family: "Inter", Helvetica;
  --components-fieldcontrol-small-font-size: 14px;
  --components-fieldcontrol-small-font-style: normal;
  --components-fieldcontrol-small-font-weight: 400;
  --components-fieldcontrol-small-letter-spacing: 0px;
  --components-fieldcontrol-small-line-height: 150%;
  --components-fieldmessages-description-font-family: "Inter", Helvetica;
  --components-fieldmessages-description-font-size: 14px;
  --components-fieldmessages-description-font-style: normal;
  --components-fieldmessages-description-font-weight: 400;
  --components-fieldmessages-description-letter-spacing: 0px;
  --components-fieldmessages-description-line-height: 150%;
  --components-fieldmessages-error-font-family: "Inter", Helvetica;
  --components-fieldmessages-error-font-size: 14px;
  --components-fieldmessages-error-font-style: normal;
  --components-fieldmessages-error-font-weight: 400;
  --components-fieldmessages-error-letter-spacing: 0px;
  --components-fieldmessages-error-line-height: 150%;
  --components-heading-1-font-family: "Inter", Helvetica;
  --components-heading-1-font-size: 48px;
  --components-heading-1-font-style: normal;
  --components-heading-1-font-weight: 300;
  --components-heading-1-letter-spacing: 0px;
  --components-heading-1-line-height: 125%;
  --components-heading-2-font-family: "Inter", Helvetica;
  --components-heading-2-font-size: 40px;
  --components-heading-2-font-style: normal;
  --components-heading-2-font-weight: 400;
  --components-heading-2-letter-spacing: 0px;
  --components-heading-2-line-height: 125%;
  --components-heading-3-font-family: "Inter", Helvetica;
  --components-heading-3-font-size: 32px;
  --components-heading-3-font-style: normal;
  --components-heading-3-font-weight: 500;
  --components-heading-3-letter-spacing: 0px;
  --components-heading-3-line-height: 125%;
  --components-heading-4-font-family: "Inter", Helvetica;
  --components-heading-4-font-size: 24px;
  --components-heading-4-font-style: normal;
  --components-heading-4-font-weight: 600;
  --components-heading-4-letter-spacing: 0px;
  --components-heading-4-line-height: 125%;
  --components-heading-5-font-family: "Inter", Helvetica;
  --components-heading-5-font-size: 20px;
  --components-heading-5-font-style: normal;
  --components-heading-5-font-weight: 700;
  --components-heading-5-letter-spacing: 0px;
  --components-heading-5-line-height: 125%;
  --components-heading-6-font-family: "Inter", Helvetica;
  --components-heading-6-font-size: 16px;
  --components-heading-6-font-style: normal;
  --components-heading-6-font-weight: 800;
  --components-heading-6-letter-spacing: 0px;
  --components-heading-6-line-height: 125%;
  --components-heading-default-font-family: "Inter", Helvetica;
  --components-heading-default-font-size: 16px;
  --components-heading-default-font-style: normal;
  --components-heading-default-font-weight: 400;
  --components-heading-default-letter-spacing: 0px;
  --components-heading-default-line-height: 125%;
  --components-highlightmatch-highlighted-font-family: "Inter", Helvetica;
  --components-highlightmatch-highlighted-font-size: 16px;
  --components-highlightmatch-highlighted-font-style: normal;
  --components-highlightmatch-highlighted-font-weight: 700;
  --components-highlightmatch-highlighted-letter-spacing: 0px;
  --components-highlightmatch-highlighted-line-height: 150%;
  --components-icon-default-font-family: "Inter", Helvetica;
  --components-icon-default-font-size: 16px;
  --components-icon-default-font-style: normal;
  --components-icon-default-font-weight: 400;
  --components-icon-default-letter-spacing: 0px;
  --components-icon-default-line-height: 100%;
  --components-inappmessaging-header-font-family: "Inter", Helvetica;
  --components-inappmessaging-header-font-size: 16px;
  --components-inappmessaging-header-font-style: normal;
  --components-inappmessaging-header-font-weight: 800;
  --components-inappmessaging-header-letter-spacing: 0px;
  --components-inappmessaging-header-line-height: 150%;
  --components-link-default-font-family: "Inter", Helvetica;
  --components-link-default-font-size: 16px;
  --components-link-default-font-style: normal;
  --components-link-default-font-weight: 400;
  --components-link-default-letter-spacing: 0px;
  --components-link-default-line-height: 150%;
  --components-link-large-font-family: "Inter", Helvetica;
  --components-link-large-font-size: 20px;
  --components-link-large-font-style: normal;
  --components-link-large-font-weight: 400;
  --components-link-large-letter-spacing: 0px;
  --components-link-large-line-height: 150%;
  --components-link-small-font-family: "Inter", Helvetica;
  --components-link-small-font-size: 14px;
  --components-link-small-font-style: normal;
  --components-link-small-font-weight: 400;
  --components-link-small-letter-spacing: 0px;
  --components-link-small-line-height: 150%;
  --components-loader-default-font-family: "Inter", Helvetica;
  --components-loader-default-font-size: 12px;
  --components-loader-default-font-style: normal;
  --components-loader-default-font-weight: 400;
  --components-loader-default-letter-spacing: 0px;
  --components-loader-default-line-height: 150%;
  --components-loader-large-font-family: "Inter", Helvetica;
  --components-loader-large-font-size: 14px;
  --components-loader-large-font-style: normal;
  --components-loader-large-font-weight: 400;
  --components-loader-large-letter-spacing: 0px;
  --components-loader-large-line-height: 150%;
  --components-loader-linear-font-family: "Inter", Helvetica;
  --components-loader-linear-font-size: 16px;
  --components-loader-linear-font-style: normal;
  --components-loader-linear-font-weight: 400;
  --components-loader-linear-letter-spacing: 0px;
  --components-loader-linear-line-height: 150%;
  --components-loader-small-font-family: "Inter", Helvetica;
  --components-loader-small-font-size: 8px;
  --components-loader-small-font-style: normal;
  --components-loader-small-font-weight: 400;
  --components-loader-small-letter-spacing: 0px;
  --components-loader-small-line-height: 150%;
  --components-menu-default-font-family: "Inter", Helvetica;
  --components-menu-default-font-size: 16px;
  --components-menu-default-font-style: normal;
  --components-menu-default-font-weight: 400;
  --components-menu-default-letter-spacing: 0px;
  --components-menu-default-line-height: 150%;
  --components-menu-large-font-family: "Inter", Helvetica;
  --components-menu-large-font-size: 16px;
  --components-menu-large-font-style: normal;
  --components-menu-large-font-weight: 400;
  --components-menu-large-letter-spacing: 0px;
  --components-menu-large-line-height: 150%;
  --components-menu-small-font-family: "Inter", Helvetica;
  --components-menu-small-font-size: 16px;
  --components-menu-small-font-style: normal;
  --components-menu-small-font-weight: 400;
  --components-menu-small-letter-spacing: 0px;
  --components-menu-small-line-height: 150%;
  --components-pagination-current-font-family: "Inter", Helvetica;
  --components-pagination-current-font-size: 14px;
  --components-pagination-current-font-style: normal;
  --components-pagination-current-font-weight: 400;
  --components-pagination-current-letter-spacing: 0px;
  --components-pagination-current-line-height: 150%;
  --components-phonenumberfield-default-font-family: "Inter", Helvetica;
  --components-phonenumberfield-default-font-size: 16px;
  --components-phonenumberfield-default-font-style: normal;
  --components-phonenumberfield-default-font-weight: 400;
  --components-phonenumberfield-default-letter-spacing: 0px;
  --components-phonenumberfield-default-line-height: 150%;
  --components-placeholder-default-font-family: "Inter", Helvetica;
  --components-placeholder-default-font-size: 16px;
  --components-placeholder-default-font-style: normal;
  --components-placeholder-default-font-weight: 400;
  --components-placeholder-default-letter-spacing: 0px;
  --components-placeholder-default-line-height: 150%;
  --components-placeholder-large-font-family: "Inter", Helvetica;
  --components-placeholder-large-font-size: 16px;
  --components-placeholder-large-font-style: normal;
  --components-placeholder-large-font-weight: 400;
  --components-placeholder-large-letter-spacing: 0px;
  --components-placeholder-large-line-height: 150%;
  --components-placeholder-small-font-family: "Inter", Helvetica;
  --components-placeholder-small-font-size: 16px;
  --components-placeholder-small-font-style: normal;
  --components-placeholder-small-font-weight: 400;
  --components-placeholder-small-letter-spacing: 0px;
  --components-placeholder-small-line-height: 150%;
  --components-rating-default-font-family: "Inter", Helvetica;
  --components-rating-default-font-size: 16px;
  --components-rating-default-font-style: normal;
  --components-rating-default-font-weight: 400;
  --components-rating-default-letter-spacing: 0px;
  --components-rating-default-line-height: 150%;
  --components-rating-large-font-family: "Inter", Helvetica;
  --components-rating-large-font-size: 16px;
  --components-rating-large-font-style: normal;
  --components-rating-large-font-weight: 400;
  --components-rating-large-letter-spacing: 0px;
  --components-rating-large-line-height: 150%;
  --components-rating-small-font-family: "Inter", Helvetica;
  --components-rating-small-font-size: 16px;
  --components-rating-small-font-style: normal;
  --components-rating-small-font-weight: 400;
  --components-rating-small-letter-spacing: 0px;
  --components-rating-small-line-height: 150%;
  --components-select-default-font-family: "Inter", Helvetica;
  --components-select-default-font-size: 16px;
  --components-select-default-font-style: normal;
  --components-select-default-font-weight: 400;
  --components-select-default-letter-spacing: 0px;
  --components-select-default-line-height: 150%;
  --components-select-large-font-family: "Inter", Helvetica;
  --components-select-large-font-size: 16px;
  --components-select-large-font-style: normal;
  --components-select-large-font-weight: 400;
  --components-select-large-letter-spacing: 0px;
  --components-select-large-line-height: 150%;
  --components-select-small-font-family: "Inter", Helvetica;
  --components-select-small-font-size: 16px;
  --components-select-small-font-style: normal;
  --components-select-small-font-weight: 400;
  --components-select-small-letter-spacing: 0px;
  --components-select-small-line-height: 150%;
  --components-selectfield-default-font-family: "Inter", Helvetica;
  --components-selectfield-default-font-size: 16px;
  --components-selectfield-default-font-style: normal;
  --components-selectfield-default-font-weight: 400;
  --components-selectfield-default-letter-spacing: 0px;
  --components-selectfield-default-line-height: 150%;
  --components-sliderfield-default-font-family: "Inter", Helvetica;
  --components-sliderfield-default-font-size: 16px;
  --components-sliderfield-default-font-style: normal;
  --components-sliderfield-default-font-weight: 400;
  --components-sliderfield-default-letter-spacing: 0px;
  --components-sliderfield-default-line-height: 150%;
  --components-sliderfield-large-font-family: "Inter", Helvetica;
  --components-sliderfield-large-font-size: 16px;
  --components-sliderfield-large-font-style: normal;
  --components-sliderfield-large-font-weight: 400;
  --components-sliderfield-large-letter-spacing: 0px;
  --components-sliderfield-large-line-height: 150%;
  --components-sliderfield-small-font-family: "Inter", Helvetica;
  --components-sliderfield-small-font-size: 16px;
  --components-sliderfield-small-font-style: normal;
  --components-sliderfield-small-font-weight: 400;
  --components-sliderfield-small-letter-spacing: 0px;
  --components-sliderfield-small-line-height: 150%;
  --components-stepperfield-input-font-family: "Inter", Helvetica;
  --components-stepperfield-input-font-size: 16px;
  --components-stepperfield-input-font-style: normal;
  --components-stepperfield-input-font-weight: 400;
  --components-stepperfield-input-letter-spacing: 0px;
  --components-stepperfield-input-line-height: 150%;
  --components-switchfield-default-font-family: "Inter", Helvetica;
  --components-switchfield-default-font-size: 16px;
  --components-switchfield-default-font-style: normal;
  --components-switchfield-default-font-weight: 400;
  --components-switchfield-default-letter-spacing: 0px;
  --components-switchfield-default-line-height: 150%;
  --components-switchfield-large-font-family: "Inter", Helvetica;
  --components-switchfield-large-font-size: 20px;
  --components-switchfield-large-font-style: normal;
  --components-switchfield-large-font-weight: 400;
  --components-switchfield-large-letter-spacing: 0px;
  --components-switchfield-large-line-height: 150%;
  --components-switchfield-small-font-family: "Inter", Helvetica;
  --components-switchfield-small-font-size: 14px;
  --components-switchfield-small-font-style: normal;
  --components-switchfield-small-font-weight: 400;
  --components-switchfield-small-letter-spacing: 0px;
  --components-switchfield-small-line-height: 150%;
  --components-table-caption-font-family: "Inter", Helvetica;
  --components-table-caption-font-size: 16px;
  --components-table-caption-font-style: normal;
  --components-table-caption-font-weight: 400;
  --components-table-caption-letter-spacing: 0px;
  --components-table-caption-line-height: 150%;
  --components-table-data-font-family: "Inter", Helvetica;
  --components-table-data-font-size: 16px;
  --components-table-data-font-style: normal;
  --components-table-data-font-weight: 400;
  --components-table-data-letter-spacing: 0px;
  --components-table-data-line-height: 150%;
  --components-table-header-font-family: "Inter", Helvetica;
  --components-table-header-font-size: 16px;
  --components-table-header-font-style: normal;
  --components-table-header-font-weight: 700;
  --components-table-header-letter-spacing: 0px;
  --components-table-header-line-height: 150%;
  --components-tabs-item-font-family: "Inter", Helvetica;
  --components-tabs-item-font-size: 16px;
  --components-tabs-item-font-style: normal;
  --components-tabs-item-font-weight: 700;
  --components-tabs-item-letter-spacing: 0px;
  --components-tabs-item-line-height: 150%;
  --components-textfield-default-font-family: "Inter", Helvetica;
  --components-textfield-default-font-size: 16px;
  --components-textfield-default-font-style: normal;
  --components-textfield-default-font-weight: 400;
  --components-textfield-default-letter-spacing: 0px;
  --components-textfield-default-line-height: 150%;
  --componentsalertbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsalertcolor: rgba(13, 26, 38, 1);
  --componentsalerterrorbackgroundcolor: rgba(245, 188, 188, 1);
  --componentsalerterrorcolor: rgba(102, 0, 0, 1);
  --componentsalertinfobackgroundcolor: rgba(184, 206, 249, 1);
  --componentsalertinfocolor: rgba(0, 34, 102, 1);
  --componentsalertsuccessbackgroundcolor: rgba(214, 245, 219, 1);
  --componentsalertsuccesscolor: rgba(54, 94, 61, 1);
  --componentsalertwarningbackgroundcolor: rgba(245, 217, 188, 1);
  --componentsalertwarningcolor: rgba(102, 51, 0, 1);
  --componentsauthenticatormodalbackgroundcolor: rgba(0, 0, 0, 0.5);
  --componentsauthenticatororcontainercolor: rgba(92, 102, 112, 1);
  --componentsauthenticatororcontainerorlinebackgroundcolor: rgba(255, 255, 255, 1);
  --componentsauthenticatorrouterbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsauthenticatorrouterbordercolor: rgba(174, 179, 183, 1);
  --componentsauthenticatorstateinactivebackgroundcolor: rgba(250, 250, 250, 1);
  --componentsautocompletemenubackgroundcolor: rgba(255, 255, 255, 1);
  --componentsautocompletemenubordercolor: rgba(137, 148, 159, 1);
  --componentsautocompletemenuoptionactivebackgroundcolor: rgba(4, 125, 149, 1);
  --componentsautocompletemenuoptionactivecolor: rgba(255, 255, 255, 1);
  --componentsautocompletemenuoptionbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsautocompletemenuoptioncolor: rgba(0, 0, 0, 1);
  --componentsbadgebackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbadgecolor: rgba(13, 26, 38, 1);
  --componentsbadgeerrorbackgroundcolor: rgba(245, 188, 188, 1);
  --componentsbadgeerrorcolor: rgba(102, 0, 0, 1);
  --componentsbadgeinfobackgroundcolor: rgba(184, 206, 249, 1);
  --componentsbadgeinfocolor: rgba(0, 34, 102, 1);
  --componentsbadgesuccessbackgroundcolor: rgba(214, 245, 219, 1);
  --componentsbadgesuccesscolor: rgba(54, 94, 61, 1);
  --componentsbadgewarningbackgroundcolor: rgba(245, 217, 188, 1);
  --componentsbadgewarningcolor: rgba(102, 51, 0, 1);
  --componentsbuttonactivebackgroundcolor: rgba(245, 188, 188, 1);
  --componentsbuttonactivebordercolor: rgba(77, 0, 0, 1);
  --componentsbuttonactivecolor: rgba(77, 0, 0, 1);
  --componentsbuttonbordercolor: rgba(174, 179, 183, 1);
  --componentsbuttoncolor: rgba(13, 26, 38, 1);
  --componentsbuttondestructiveactivebackgroundcolor: rgba(77, 0, 0, 1);
  --componentsbuttondestructiveactivebordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructiveactivecolor: rgba(255, 255, 255, 1);
  --componentsbuttondestructivebackgroundcolor: rgba(191, 64, 64, 1);
  --componentsbuttondestructivebordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructivecolor: rgba(255, 255, 255, 1);
  --componentsbuttondestructivedisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbuttondestructivedisabledbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructivedisabledcolor: rgba(137, 148, 159, 1);
  --componentsbuttondestructivefocusbackgroundcolor: rgba(149, 4, 4, 1);
  --componentsbuttondestructivefocusbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructivefocuscolor: rgba(255, 255, 255, 1);
  --componentsbuttondestructivehoverbackgroundcolor: rgba(149, 4, 4, 1);
  --componentsbuttondestructivehoverbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructivehovercolor: rgba(255, 255, 255, 1);
  --componentsbuttondestructiveloadingbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbuttondestructiveloadingbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttondestructiveloadingcolor: rgba(137, 148, 159, 1);
  --componentsbuttondisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentsbuttondisabledcolor: rgba(92, 102, 112, 1);
  --componentsbuttonfocusbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbuttonfocusbordercolor: rgba(77, 0, 0, 1);
  --componentsbuttonfocuscolor: rgba(77, 0, 0, 1);
  --componentsbuttonhoverbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbuttonhoverbordercolor: rgba(191, 64, 64, 1);
  --componentsbuttonhovercolor: rgba(77, 0, 0, 1);
  --componentsbuttonlinkactivebackgroundcolor: rgba(245, 188, 188, 1);
  --componentsbuttonlinkactivebordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkactivecolor: rgba(77, 0, 0, 1);
  --componentsbuttonlinkbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkcolor: rgba(149, 4, 4, 1);
  --componentsbuttonlinkdisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkdisabledbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkdisabledcolor: rgba(92, 102, 112, 1);
  --componentsbuttonlinkfocusbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbuttonlinkfocusbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkfocuscolor: rgba(77, 0, 0, 1);
  --componentsbuttonlinkhoverbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbuttonlinkhoverbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkhovercolor: rgba(102, 0, 0, 1);
  --componentsbuttonlinkloadingbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkloadingbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonlinkloadingcolor: rgba(92, 102, 112, 1);
  --componentsbuttonloadingbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonloadingbordercolor: rgba(239, 240, 240, 1);
  --componentsbuttonloadingcolor: rgba(92, 102, 112, 1);
  --componentsbuttonmenuactivebackgroundcolor: rgba(102, 0, 0, 1);
  --componentsbuttonmenuactivecolor: rgba(255, 255, 255, 1);
  --componentsbuttonmenubackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonmenudisabledcolor: rgba(92, 102, 112, 1);
  --componentsbuttonmenufocusbackgroundcolor: rgba(149, 4, 4, 1);
  --componentsbuttonmenufocuscolor: rgba(255, 255, 255, 1);
  --componentsbuttonmenuhoverbackgroundcolor: rgba(149, 4, 4, 1);
  --componentsbuttonmenuhovercolor: rgba(255, 255, 255, 1);
  --componentsbuttonprimaryactivebackgroundcolor: rgba(77, 0, 0, 1);
  --componentsbuttonprimaryactivebordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimaryactivecolor: rgba(255, 255, 255, 1);
  --componentsbuttonprimarybackgroundcolor: rgba(149, 4, 4, 1);
  --componentsbuttonprimarybordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimarycolor: rgba(255, 255, 255, 1);
  --componentsbuttonprimarydisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbuttonprimarydisabledbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimarydisabledcolor: rgba(92, 102, 112, 1);
  --componentsbuttonprimaryfocusbackgroundcolor: rgba(102, 0, 0, 1);
  --componentsbuttonprimaryfocusbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimaryfocuscolor: rgba(255, 255, 255, 1);
  --componentsbuttonprimaryhoverbackgroundcolor: rgba(102, 0, 0, 1);
  --componentsbuttonprimaryhoverbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimaryhovercolor: rgba(255, 255, 255, 1);
  --componentsbuttonprimaryloadingbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsbuttonprimaryloadingbordercolor: rgba(0, 0, 0, 0);
  --componentsbuttonprimaryloadingcolor: rgba(92, 102, 112, 1);
  --componentsbuttonwarningactivebackgroundcolor: rgba(245, 188, 188, 1);
  --componentsbuttonwarningactivebordercolor: rgba(77, 0, 0, 1);
  --componentsbuttonwarningactivecolor: rgba(77, 0, 0, 1);
  --componentsbuttonwarningbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonwarningbordercolor: rgba(191, 64, 64, 1);
  --componentsbuttonwarningcolor: rgba(191, 64, 64, 1);
  --componentsbuttonwarningdisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonwarningdisabledbordercolor: rgba(239, 240, 240, 1);
  --componentsbuttonwarningdisabledcolor: rgba(137, 148, 159, 1);
  --componentsbuttonwarningfocusbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbuttonwarningfocusbordercolor: rgba(149, 4, 4, 1);
  --componentsbuttonwarningfocuscolor: rgba(149, 4, 4, 1);
  --componentsbuttonwarninghoverbackgroundcolor: rgba(252, 233, 233, 1);
  --componentsbuttonwarninghoverbordercolor: rgba(149, 4, 4, 1);
  --componentsbuttonwarninghovercolor: rgba(102, 0, 0, 1);
  --componentsbuttonwarningloadingbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsbuttonwarningloadingbordercolor: rgba(239, 240, 240, 1);
  --componentsbuttonwarningloadingcolor: rgba(137, 148, 159, 1);
  --componentscardbackgroundcolor: rgba(255, 255, 255, 1);
  --componentscardbordercolor: rgba(0, 0, 0, 0);
  --componentscardelevatedbackgroundcolor: rgba(255, 255, 255, 1);
  --componentscardelevatedbordercolor: rgba(0, 0, 0, 0);
  --componentscardoutlinedbackgroundcolor: rgba(255, 255, 255, 1);
  --componentscardoutlinedbordercolor: rgba(174, 179, 183, 1);
  --componentscheckboxbuttonbeforebordercolor: rgba(174, 179, 183, 1);
  --componentscheckboxbuttoncolor: rgba(255, 255, 255, 1);
  --componentscheckboxbuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentscheckboxbuttonerrorbordercolor: rgba(149, 4, 4, 1);
  --componentscheckboxbuttonerrorfocusbordercolor: rgba(0, 0, 0, 0);
  --componentscheckboxbuttonfocusbordercolor: rgba(0, 0, 0, 0);
  --componentscheckboxbuttonfocusoutlinecolor: rgba(0, 0, 0, 0);
  --componentscheckboxiconbackgroundcolor: rgba(149, 4, 4, 1);
  --componentscheckboxiconcheckeddisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentscheckboxiconindeterminatedisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentscheckboxlabeldisabledcolor: rgba(92, 102, 112, 1);
  --componentscollectionpaginationbuttoncolor: rgba(13, 26, 38, 1);
  --componentscollectionpaginationbuttondisabledcolor: rgba(137, 148, 159, 1);
  --componentscollectionpaginationbuttonhoverbackgroundcolor: rgba(0, 0, 0, 0.1);
  --componentscollectionpaginationbuttonhovercolor: rgba(13, 26, 38, 1);
  --componentscollectionpaginationcurrentbackgroundcolor: rgba(0, 0, 0, 0.4);
  --componentscollectionpaginationcurrentcolor: rgba(255, 255, 255, 1);
  --componentscollectionsearchbuttonactivebackgroundcolor: rgba(188, 236, 245, 1);
  --componentscollectionsearchbuttonactivebordercolor: rgba(0, 64, 77, 1);
  --componentscollectionsearchbuttonactivecolor: rgba(0, 64, 77, 1);
  --componentscollectionsearchbuttoncolor: rgba(13, 26, 38, 1);
  --componentscollectionsearchbuttondisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentscollectionsearchbuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentscollectionsearchbuttondisabledcolor: rgba(137, 148, 159, 1);
  --componentscollectionsearchbuttonfocusbackgroundcolor: rgba(233, 249, 252, 1);
  --componentscollectionsearchbuttonfocusbordercolor: rgba(0, 64, 77, 1);
  --componentscollectionsearchbuttonfocuscolor: rgba(0, 64, 77, 1);
  --componentscollectionsearchbuttonhoverbackgroundcolor: rgba(233, 249, 252, 1);
  --componentscollectionsearchbuttonhoverbordercolor: rgba(64, 170, 191, 1);
  --componentscollectionsearchbuttonhovercolor: rgba(0, 64, 77, 1);
  --componentscollectionsearchinputcolor: rgba(13, 26, 38, 1);
  --componentscopytooltipcolor: rgba(0, 64, 77, 1);
  --componentsdividerbordercolor: rgba(174, 179, 183, 1);
  --componentsdividerlabelbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsdividerlabelcolor: rgba(92, 102, 112, 1);
  --componentsexpanderbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsexpandercontenttextcolor: rgba(48, 64, 80, 1);
  --componentsexpandertriggerhoverbackgroundcolor: rgba(0, 0, 0, 0.1);
  --componentsfieldcontrolbordercolor: rgba(174, 179, 183, 1);
  --componentsfieldcontrolcolor: rgba(13, 26, 38, 1);
  --componentsfieldcontroldescriptioncolor: rgba(51, 51, 51, 1);
  --componentsfieldcontroldisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsfieldcontroldisabledbordercolor: rgba(0, 0, 0, 0);
  --componentsfieldcontroldisabledcolor: rgba(92, 102, 112, 1);
  --componentsfieldcontrolerrorbordercolor: rgba(149, 4, 4, 1);
  --componentsfieldcontrolfocusbordercolor: rgba(77, 0, 0, 1);
  --componentsfieldcontrollabelcolor: rgba(43, 51, 59, 1);
  --componentsfieldcontroloutlinecolor: rgba(0, 0, 0, 0);
  --componentsfieldcontrolplaceholdercolor: rgba(128, 128, 128, 1);
  --componentsfieldcontrolquieterrorborderblockendcolor: rgba(149, 4, 4, 1);
  --componentsfieldcontrolquietfocusborderblockendcolor: rgba(77, 0, 0, 1);
  --componentsfieldlabelcolor: rgba(48, 64, 80, 1);
  --componentsfieldmessagesdescriptioncolor: rgba(48, 64, 80, 1);
  --componentsfieldmessageserrorcolor: rgba(102, 0, 0, 1);
  --componentsheadingcolor: rgba(13, 26, 38, 1);
  --componentsinappmessagingbuttonbackgroundcolor: rgba(232, 232, 232, 1);
  --componentsinappmessagingbuttoncolor: rgba(0, 0, 0, 1);
  --componentslinkactivecolor: rgba(77, 0, 0, 1);
  --componentslinkcolor: rgba(149, 4, 4, 1);
  --componentslinkfocuscolor: rgba(77, 0, 0, 1);
  --componentslinkhovercolor: rgba(102, 0, 0, 1);
  --componentslinkvisitedcolor: rgba(149, 4, 4, 1);
  --componentslivenesscameramodulebackgroundcolor: rgba(0, 0, 0, 1);
  --componentsmenubackgroundcolor: rgba(255, 255, 255, 1);
  --componentsmenubordercolor: rgba(174, 179, 183, 1);
  --componentspaginationbuttoncolor: rgba(13, 26, 38, 1);
  --componentspaginationbuttondisabledcolor: rgba(92, 102, 112, 1);
  --componentspaginationbuttonhoverbackgroundcolor: rgba(0, 0, 0, 0.1);
  --componentspaginationbuttonhovercolor: rgba(13, 26, 38, 1);
  --componentspaginationcurrentbackgroundcolor: rgba(0, 0, 0, 0.4);
  --componentspaginationcurrentcolor: rgba(255, 255, 255, 1);
  --componentspasswordfieldbuttonactivebackgroundcolor: rgba(188, 236, 245, 1);
  --componentspasswordfieldbuttonactivebordercolor: rgba(0, 64, 77, 1);
  --componentspasswordfieldbuttonactivecolor: rgba(0, 64, 77, 1);
  --componentspasswordfieldbuttoncolor: rgba(13, 26, 38, 1);
  --componentspasswordfieldbuttondisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentspasswordfieldbuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentspasswordfieldbuttondisabledcolor: rgba(137, 148, 159, 1);
  --componentspasswordfieldbuttonfocusbackgroundcolor: rgba(233, 249, 252, 1);
  --componentspasswordfieldbuttonfocusbordercolor: rgba(0, 64, 77, 1);
  --componentspasswordfieldbuttonfocuscolor: rgba(0, 64, 77, 1);
  --componentspasswordfieldbuttonhoverbackgroundcolor: rgba(233, 249, 252, 1);
  --componentspasswordfieldbuttonhoverbordercolor: rgba(64, 170, 191, 1);
  --componentspasswordfieldbuttonhovercolor: rgba(0, 64, 77, 1);
  --componentspasswordfieldcolor: rgba(13, 26, 38, 1);
  --componentsphonenumberfieldbordercolor: rgba(137, 148, 159, 1);
  --componentsphonenumberfieldcolor: rgba(13, 26, 38, 1);
  --componentsphonenumberfieldfocusbordercolor: rgba(0, 64, 77, 1);
  --componentsplaceholderendcolor: rgba(239, 240, 240, 1);
  --componentsplaceholderstartcolor: rgba(250, 250, 250, 1);
  --componentsradiobuttonbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsradiobuttonbordercolor: rgba(174, 179, 183, 1);
  --componentsradiobuttoncheckedcolor: rgba(149, 4, 4, 1);
  --componentsradiobuttoncheckeddisabledcolor: rgba(239, 240, 240, 1);
  --componentsradiobuttoncolor: rgba(255, 255, 255, 1);
  --componentsradiobuttondisabledbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsradiobuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentsradiobuttondisabledcolor: rgba(255, 255, 255, 1);
  --componentsradiobuttonerrorbordercolor: rgba(149, 4, 4, 1);
  --componentsradiobuttonfocusbordercolor: rgba(77, 0, 0, 1);
  --componentsradiobuttonoutlinecolor: rgba(0, 0, 0, 0);
  --componentsradiogrouplabelcolor: rgba(48, 64, 80, 1);
  --componentsradiogroupradiobackgroundcolor: rgba(255, 255, 255, 1);
  --componentsradiogroupradiobordercolor: rgba(137, 148, 159, 1);
  --componentsradiogroupradiocheckedcolor: rgba(4, 125, 149, 1);
  --componentsradiogroupradiolabelcolor: rgba(13, 26, 38, 1);
  --componentsradiolabelcolor: rgba(13, 26, 38, 1);
  --componentsradiolabeldisabledcolor: rgba(92, 102, 112, 1);
  --componentsratingemptycolor: rgba(239, 240, 240, 1);
  --componentsratingfilledcolor: rgba(4, 52, 149, 1);
  --componentssearchfieldbuttonactivebackgroundcolor: rgba(188, 236, 245, 1);
  --componentssearchfieldbuttonactivebordercolor: rgba(0, 64, 77, 1);
  --componentssearchfieldbuttonactivecolor: rgba(0, 64, 77, 1);
  --componentssearchfieldbuttonbackgroundcolor: rgba(255, 255, 255, 1);
  --componentssearchfieldbuttoncolor: rgba(13, 26, 38, 1);
  --componentssearchfieldbuttondisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentssearchfieldbuttondisabledbordercolor: rgba(239, 240, 240, 1);
  --componentssearchfieldbuttondisabledcolor: rgba(137, 148, 159, 1);
  --componentssearchfieldbuttonfocusbackgroundcolor: rgba(233, 249, 252, 1);
  --componentssearchfieldbuttonfocusbordercolor: rgba(0, 64, 77, 1);
  --componentssearchfieldbuttonfocuscolor: rgba(0, 64, 77, 1);
  --componentssearchfieldbuttonhoverbackgroundcolor: rgba(233, 249, 252, 1);
  --componentssearchfieldbuttonhoverbordercolor: rgba(64, 170, 191, 1);
  --componentssearchfieldbuttonhovercolor: rgba(0, 64, 77, 1);
  --componentssearchfieldcolor: rgba(13, 26, 38, 1);
  --componentsselectfieldbordercolor: rgba(137, 148, 159, 1);
  --componentsselectfieldcolor: rgba(13, 26, 38, 1);
  --componentsselectfieldfocusbordercolor: rgba(0, 64, 77, 1);
  --componentsselectfieldlabelcolor: rgba(48, 64, 80, 1);
  --componentsselectoptionbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsselectoptioncolor: rgba(13, 26, 38, 1);
  --componentsselectoptiondisabledcolor: rgba(137, 148, 159, 1);
  --componentssliderfieldrangebackgroundcolor: rgba(149, 4, 4, 1);
  --componentssliderfieldrangedisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentssliderfieldthumbbackgroundcolor: rgba(255, 255, 255, 1);
  --componentssliderfieldthumbbordercolor: rgba(174, 179, 183, 1);
  --componentssliderfieldthumbdisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentssliderfieldthumbdisabledbordercolor: rgba(0, 0, 0, 0);
  --componentssliderfieldthumbfocusbordercolor: rgba(0, 64, 77, 1);
  --componentssliderfieldthumbhoverbackgroundcolor: rgba(255, 255, 255, 1);
  --componentssliderfieldthumbhoverbordercolor: rgba(77, 0, 0, 1);
  --componentssliderfieldtrackbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsstepperfieldbordercolor: rgba(137, 148, 159, 1);
  --componentsstepperfieldbuttonactivebackgroundcolor: rgba(188, 236, 245, 1);
  --componentsstepperfieldbuttonactivecolor: rgba(0, 64, 77, 1);
  --componentsstepperfieldbuttonbackgroundcolor: rgba(0, 0, 0, 0);
  --componentsstepperfieldbuttoncolor: rgba(13, 26, 38, 1);
  --componentsstepperfieldbuttondisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsstepperfieldbuttondisabledcolor: rgba(137, 148, 159, 1);
  --componentsstepperfieldbuttonfocusbackgroundcolor: rgba(233, 249, 252, 1);
  --componentsstepperfieldbuttonfocuscolor: rgba(0, 64, 77, 1);
  --componentsstepperfieldbuttonhoverbackgroundcolor: rgba(233, 249, 252, 1);
  --componentsstepperfieldbuttonhovercolor: rgba(0, 64, 77, 1);
  --componentsstepperfieldinputcolor: rgba(13, 26, 38, 1);
  --componentsswitchfieldthumbbackgroundcolor: rgba(255, 255, 255, 1);
  --componentsswitchfieldthumbbordercolor: rgba(239, 240, 240, 1);
  --componentsswitchfieldtrackbackgroundcolor: rgba(239, 240, 240, 1);
  --componentsswitchfieldtrackcheckedbackgroundcolor: rgba(191, 64, 64, 1);
  --componentsswitchfieldtrackerrorbackgroundcolor: rgba(245, 188, 188, 1);
  --componentstablecaptioncolor: rgba(13, 26, 38, 1);
  --componentstabledatabordercolor: rgba(239, 240, 240, 1);
  --componentstabledatacolor: rgba(13, 26, 38, 1);
  --componentstableheaderbordercolor: rgba(239, 240, 240, 1);
  --componentstableheadercolor: rgba(13, 26, 38, 1);
  --componentstablerowhoverbackgroundcolor: rgba(239, 240, 240, 1);
  --componentstablerowstripedbackgroundcolor: rgba(250, 250, 250, 1);
  --componentstabsbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstabsbordercolor: rgba(220, 222, 224, 1);
  --componentstabsitemactivebackgroundcolor: rgba(0, 0, 0, 0);
  --componentstabsitemactivebordercolor: rgba(149, 4, 4, 1);
  --componentstabsitemactivecolor: rgba(149, 4, 4, 1);
  --componentstabsitembackgroundcolor: rgba(0, 0, 0, 0);
  --componentstabsitembordercolor: rgba(220, 222, 224, 1);
  --componentstabsitemcolor: rgba(48, 64, 80, 1);
  --componentstabsitemdisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstabsitemdisabledbordercolor: rgba(239, 240, 240, 1);
  --componentstabsitemdisabledcolor: rgba(92, 102, 112, 1);
  --componentstabsitemfocuscolor: rgba(77, 0, 0, 1);
  --componentstabsitemhovercolor: rgba(102, 0, 0, 1);
  --componentstextareafieldbordercolor: rgba(137, 148, 159, 1);
  --componentstextareafieldcolor: rgba(13, 26, 38, 1);
  --componentstextareafieldfocusbordercolor: rgba(0, 64, 77, 1);
  --componentstextcolor: rgba(13, 26, 38, 1);
  --componentstexterrorcolor: rgba(102, 0, 0, 1);
  --componentstextfieldbordercolor: rgba(137, 148, 159, 1);
  --componentstextfieldcolor: rgba(13, 26, 38, 1);
  --componentstextfieldfocusbordercolor: rgba(0, 64, 77, 1);
  --componentstextinfocolor: rgba(0, 34, 102, 1);
  --componentstextprimarycolor: rgba(13, 26, 38, 1);
  --componentstextsecondarycolor: rgba(48, 64, 80, 1);
  --componentstextsuccesscolor: rgba(54, 94, 61, 1);
  --componentstexttertiarycolor: rgba(92, 102, 112, 1);
  --componentstextwarningcolor: rgba(102, 51, 0, 1);
  --componentstogglebuttonactivebackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonbordercolor: rgba(174, 179, 183, 1);
  --componentstogglebuttoncolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttondisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttondisabledbordercolor: rgba(220, 222, 224, 1);
  --componentstogglebuttondisabledcolor: rgba(92, 102, 112, 1);
  --componentstogglebuttonfocusbordercolor: rgba(77, 0, 0, 1);
  --componentstogglebuttonfocuscolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttonhoverbackgroundcolor: rgba(0, 0, 0, 0.1);
  --componentstogglebuttonlinkbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkcolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttonlinkdisabledbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkdisabledcolor: rgba(92, 102, 112, 1);
  --componentstogglebuttonlinkfocusbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkfocuscolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttonlinkhoverbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkhovercolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttonlinkpressedbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkpressedcolor: rgba(0, 0, 0, 0.9);
  --componentstogglebuttonlinkpressedfocusbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkpressedfocuscolor: rgba(0, 0, 0, 0.9);
  --componentstogglebuttonlinkpressedhoverbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonlinkpressedhovercolor: rgba(0, 0, 0, 0.9);
  --componentstogglebuttonpressedbackgroundcolor: rgba(0, 0, 0, 0.2);
  --componentstogglebuttonpressedbordercolor: rgba(0, 64, 77, 1);
  --componentstogglebuttonpressedcolor: rgba(13, 26, 38, 1);
  --componentstogglebuttonpressedhoverbackgroundcolor: rgba(0, 0, 0, 0.3);
  --componentstogglebuttonprimarybackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonprimarydisabledbackgroundcolor: rgba(239, 240, 240, 1);
  --componentstogglebuttonprimarydisabledbordercolor: rgba(239, 240, 240, 1);
  --componentstogglebuttonprimarydisabledcolor: rgba(92, 102, 112, 1);
  --componentstogglebuttonprimaryfocusbackgroundcolor: rgba(0, 0, 0, 0);
  --componentstogglebuttonprimaryfocusbordercolor: rgba(77, 0, 0, 1);
  --componentstogglebuttonprimaryfocuscolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttonprimaryhoverbackgroundcolor: rgba(0, 0, 0, 0.1);
  --componentstogglebuttonprimaryhovercolor: rgba(0, 0, 0, 0.5);
  --componentstogglebuttonprimarypressedbackgroundcolor: rgba(149, 4, 4, 1);
  --componentstogglebuttonprimarypressedbordercolor: rgba(149, 4, 4, 1);
  --componentstogglebuttonprimarypressedcolor: rgba(255, 255, 255, 1);
  --componentstogglebuttonprimarypressedfocusbackgroundcolor: rgba(77, 0, 0, 1);
  --componentstogglebuttonprimarypressedfocusbordercolor: rgba(77, 0, 0, 1);
  --componentstogglebuttonprimarypressedfocuscolor: rgba(255, 255, 255, 1);
  --componentstogglebuttonprimarypressedhoverbackgroundcolor: rgba(191, 64, 64, 1);
  --componentstogglebuttonprimarypressedhoverbordercolor: rgba(191, 64, 64, 1);
  --componentstogglebuttonprimarypressedhovercolor: rgba(255, 255, 255, 1);
  --dropshadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  --fieldmessages-description-default-font-family: "Inter", Helvetica;
  --fieldmessages-description-default-font-size: 14px;
  --fieldmessages-description-default-font-style: italic;
  --fieldmessages-description-default-font-weight: 400;
  --fieldmessages-description-default-letter-spacing: 0px;
  --fieldmessages-description-default-line-height: 20px;
  --heading-h1-font-family: "Inter", Helvetica;
  --heading-h1-font-size: 48px;
  --heading-h1-font-style: normal;
  --heading-h1-font-weight: 300;
  --heading-h1-letter-spacing: 0px;
  --heading-h1-line-height: 60px;
  --heading-h2-font-family: "Inter", Helvetica;
  --heading-h2-font-size: 40px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 400;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 50px;
  --heading-h3-font-family: "Inter", Helvetica;
  --heading-h3-font-size: 32px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 500;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 40px;
  --heading-h4-font-family: "Inter", Helvetica;
  --heading-h4-font-size: 24px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 600;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 30px;
  --heading-h5-font-family: "Inter", Helvetica;
  --heading-h5-font-size: 20px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 700;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 25px;
  --heading-h6-font-family: "Inter", Helvetica;
  --heading-h6-font-size: 16px;
  --heading-h6-font-style: normal;
  --heading-h6-font-weight: 800;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 20px;
  --input-default-font-family: "Inter", Helvetica;
  --input-default-font-size: 16px;
  --input-default-font-style: normal;
  --input-default-font-weight: 400;
  --input-default-letter-spacing: 0px;
  --input-default-line-height: 24px;
  --input-large-font-family: "Inter", Helvetica;
  --input-large-font-size: 20px;
  --input-large-font-style: normal;
  --input-large-font-weight: 400;
  --input-large-letter-spacing: 0px;
  --input-large-line-height: 30px;
  --input-small-font-family: "Inter", Helvetica;
  --input-small-font-size: 14px;
  --input-small-font-style: normal;
  --input-small-font-weight: 400;
  --input-small-letter-spacing: 0px;
  --input-small-line-height: 21px;
  --label-default-font-family: "Inter", Helvetica;
  --label-default-font-size: 16px;
  --label-default-font-style: normal;
  --label-default-font-weight: 400;
  --label-default-letter-spacing: 0px;
  --label-default-line-height: 24px;
  --label-large-font-family: "Inter", Helvetica;
  --label-large-font-size: 20px;
  --label-large-font-style: normal;
  --label-large-font-weight: 400;
  --label-large-letter-spacing: 0px;
  --label-large-line-height: 30px;
  --label-small-font-family: "Inter", Helvetica;
  --label-small-font-size: 14px;
  --label-small-font-style: normal;
  --label-small-font-weight: 400;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 21px;
  --large-font-family: "Inter", Helvetica;
  --large-font-size: 20px;
  --large-font-style: normal;
  --large-font-weight: 400;
  --large-letter-spacing: 0px;
  --large-line-height: 150%;
  --medium-font-family: "Inter", Helvetica;
  --medium-font-size: 16px;
  --medium-font-style: normal;
  --medium-font-weight: 400;
  --medium-letter-spacing: 0px;
  --medium-line-height: 150%;
  --shadows-large: 0px 4px 12px 0px rgba(13, 26, 38, 0.25);
  --shadows-medium: 0px 2px 6px 0px rgba(13, 26, 38, 0.15);
  --shadows-small: 0px 2px 4px 0px rgba(13, 26, 38, 0.05);
  --small-font-family: "Inter", Helvetica;
  --small-font-size: 14px;
  --small-font-style: normal;
  --small-font-weight: 400;
  --small-letter-spacing: 0px;
  --small-line-height: 150%;
  --xl-font-family: "Inter", Helvetica;
  --xl-font-size: 24px;
  --xl-font-style: normal;
  --xl-font-weight: 400;
  --xl-letter-spacing: 0px;
  --xl-line-height: 150%;
  --xs-font-family: "Inter", Helvetica;
  --xs-font-size: 12px;
  --xs-font-style: normal;
  --xs-font-weight: 400;
  --xs-letter-spacing: 0px;
  --xs-line-height: 150%;
  --xxl-font-family: "Inter", Helvetica;
  --xxl-font-size: 32px;
  --xxl-font-style: normal;
  --xxl-font-weight: 400;
  --xxl-letter-spacing: 0px;
  --xxl-line-height: 150%;
  --xxs-font-family: "Inter", Helvetica;
  --xxs-font-size: 8px;
  --xxs-font-style: normal;
  --xxs-font-weight: 400;
  --xxs-letter-spacing: 0px;
  --xxs-line-height: 150%;
  --xxxl-font-family: "Inter", Helvetica;
  --xxxl-font-size: 40px;
  --xxxl-font-style: normal;
  --xxxl-font-weight: 400;
  --xxxl-letter-spacing: 0px;
  --xxxl-line-height: 150%;
  --xxxs-font-family: "Inter", Helvetica;
  --xxxs-font-size: 6px;
  --xxxs-font-style: normal;
  --xxxs-font-weight: 400;
  --xxxs-letter-spacing: 0px;
  --xxxs-line-height: 150%;
  --xxxxl-font-family: "Inter", Helvetica;
  --xxxxl-font-size: 48px;
  --xxxxl-font-style: normal;
  --xxxxl-font-weight: 400;
  --xxxxl-letter-spacing: 0px;
  --xxxxl-line-height: 150%;
}
