/* Profile.css */

.profile-container {
    display: flex;
}

.side-nav {
    width: 200px;
    height: 950px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.side-nav li {
    cursor: pointer;
    display: block;
    padding: 8px 0;
}

.side-nav li.active {
    font-weight: bold;
}

.main-content {
    flex: 1;
    margin-left: 20px;
}

/* Styles for each tab content */
.tab-content {
    display: none;
}

.tab-content.show {
    display: block;
}

/* Styles for input fields */
.contact-info label {
    display: block;
    margin-bottom: 5px;
}

.contact-info input {
    width: 25%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.business-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four squares per row */
    gap: 20px; /* Adjust gap between squares */
}

.business-square {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    
}

