.company-x-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .company-x-page .div {
    background-color: #ffffff;
    height: 832px;
    overflow: hidden;
    position: relative;
    width: 1280px;
  }
  
  .company-x-page .overlap {
    background-color: #84838336;
    height: 162px;
    left: 0;
    position: absolute;
    top: 185px;
    width: 1280px;
  }
  
  .company-x-page .text-wrapper {
    color: #000000;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 20px;
    left: 564px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 65px;
    white-space: nowrap;
    width: 152px;
  }
  
  .company-x-page .rating-star {
    height: 23px;
    left: 1230px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .img {
    height: 23px;
    left: 1194px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .rating-star-2 {
    height: 23px;
    left: 1086px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .rating-star-3 {
    height: 23px;
    left: 1122px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .rating-star-4 {
    height: 23px;
    left: 1158px;
    position: absolute;
    top: 128px;
    width: 25px;
  }
  
  .company-x-page .media {
    background-color: #d9d9d9;
    height: 177px;
    left: 976px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-2 {
    background-color: #d9d9d9;
    height: 177px;
    left: 672px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-3 {
    background-color: #d9d9d9;
    height: 177px;
    left: 379px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-4 {
    background-color: #d9d9d9;
    height: 177px;
    left: 79px;
    position: absolute;
    top: 679px;
    width: 225px;
  }
  
  .company-x-page .media-5 {
    background-color: #d9d9d9;
    height: 177px;
    left: 972px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .media-6 {
    background-color: #d9d9d9;
    height: 177px;
    left: 672px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .media-7 {
    background-color: #d9d9d9;
    height: 177px;
    left: 379px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .media-8 {
    background-color: #d9d9d9;
    height: 177px;
    left: 79px;
    position: absolute;
    top: 444px;
    width: 225px;
  }
  
  .company-x-page .overlap-group {
    background-color: #d9d9d9;
    border-radius: 40px;
    height: 37px;
    left: 1077px;
    position: absolute;
    top: 365px;
    width: 186px;
  }
  
  .company-x-page .text-wrapper-2 {
    color: #000000;
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 20px;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 152px;
  }
  
  .company-x-page .overlap-group-2 {
    background-color: #848383;
    height: 105px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1280px;
  }
  
  .company-x-page .log-in {
    background-color: #ffffff;
    border-radius: 10px;
    height: 21px;
    left: 1102px;
    position: absolute;
    top: 53px;
    width: 47px;
  }
  
  .company-x-page .sign-up {
    background-color: #ffffff;
    border-radius: 10px;
    height: 21px;
    left: 1187px;
    position: absolute;
    top: 53px;
    width: 47px;
  }
  
  .company-x-page .logo {
    height: 73px;
    left: 597px;
    position: absolute;
    top: 17px;
    width: 90px;
  }
  
  .company-x-page .overlap-2 {
    height: 28px;
    left: 35px;
    position: absolute;
    top: 48px;
    width: 137px;
  }
  
  .company-x-page .div-2 {
    background-color: #ffffff;
    border-radius: 10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 137px;
  }
  
  .company-x-page .text-wrapper-3 {
    color: #000000;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 28px;
    left: 39px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .company-x-page .overlap-3 {
    height: 28px;
    left: 256px;
    position: absolute;
    top: 48px;
    width: 137px;
  }
  
  .company-x-page .text-wrapper-4 {
    color: #000000;
    font-family: "Open Sans-SemiBold", Helvetica;
    font-size: 14px;
    font-weight: 600;
    height: 28px;
    left: 36px;
    letter-spacing: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .company-x-page .overlap-4 {
    background-color: #dddddd;
    height: 80px;
    left: 0;
    position: absolute;
    top: 105px;
    width: 1280px;
  }
  
  .company-x-page .search-bar {
    height: 39px;
    left: 254px;
    position: absolute;
    top: 21px;
    width: 738px;
  }
  
  .company-x-page .overlap-5 {
    height: 30px;
    left: 1002px;
    position: absolute;
    top: 30px;
    width: 26px;
  }
  
  .company-x-page .seach-button {
    background-color: #ffffff;
    border-radius: 12.5px/10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
  }
  
  .company-x-page .search-button {
    height: 14px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 11px;
  }
  