.my-icon .instance-node {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 24px !important;
}

.my-icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.my-icon .union {
  position: absolute;
}

.my-icon .type-group {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-shuffle {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-favorite {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-checkmark {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-favorite-border {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-edit {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-authentication {
  height: 22px;
  left: 2px;
  top: 0;
  width: 19px;
}

.my-icon .type-instagram {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-arrow-right {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-delete {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-share {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-dashboard {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-send {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-shopping-bag {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-close {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-more-horiz {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-reply {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-location {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-function {
  height: 21px;
  left: 3px;
  top: 2px;
  width: 17px;
}

.my-icon .type-content {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-warning {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-email {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-settings {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-bookmark-border {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-chat-bubble-outline {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-info {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-file {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-alert {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-notification {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-twitter {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-phone {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-more-vert {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-chat {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-data {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-home {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}

.my-icon .type-storage {
  height: 22px;
  left: 4px;
  top: 1px;
  width: 15px;
}
